lightcurver~=0.1.0
setuptools~=67.6.1
yaml~=0.2.5
pyyaml~=6.0
matplotlib~=3.8.0
astropy~=5.2.2
numpy~=1.26.4
sep~=1.2.1
scipy~=1.10.1
ephem~=4.1.4
pandas~=2.2.1
shapely~=2.0.1
astroquery~=0.4.6
h5py~=3.8.0